*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
input{
    padding: 10px 20px;
    margin: 10px 10px;
 
}
#box{
    padding:10px 10px;
}
#container{
    display: flex;
   padding: 50px;
    align-items: center;
}
#nav-read{
    margin-left: 80vw;
    text-decoration: none;
    color: yellowgreen;
   
}